doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    header
     nav
      ul
       li: a(href="index.html")ActivityFeed
       li: a(href="public/pages/user-profile.html")Profile
       li: a(href="public/pages/message-form.html")Messages
       li: a(href="public/pages/flirts.html")Flirts
       li: a(href="public/pages/invites.html")Invites
       li: a(href="public/pages/settings-form.html")Settings
       li: a(href="public/pages/contact.html")Help?
       li: a(href="public/pages/services.html")Services
    form(action="/search" method: 'GET')
     inputType="text" name="query" placeholder="Search")
     div.author
      if user
      p Welcome, #{user.name}!
      a(href="/logout")Logout
    else
     a(href="/login")Login
     a(href="/signup")Signup
   main
    block content
footer
p 2025 Flirting Singles
